@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  /* background: #f2f2f2; */
  background-image: url("./img/6354.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  margin-left: 20%;
  margin-right: 20%;
}

table {
  background-color: rgb(255, 255, 255);
}

tr {
  border-bottom:1pt solid black;
}

.search {
  width: 25%;
  position: relative;
  display: flex;
}

p {
  margin: 10px;
  padding-bottom: 0px; 
}

.favourite {
  background: #fff;
  border: 0px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.favourite:focus {
  outline: none;
}

/* #title p { 
  line-height: 20px;
  margin: 20px;
  padding-bottom: 20px; 
  text-align: justify;
  width: 140px;
  color: red; 
} */