@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  /* background: #f2f2f2; */
  background: url("./img/image.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  margin-left: 20%;
  margin-right: 20%;
}

table {
  background-color: rgb(0, 0, 0);
}

tr {
  border-top:4px solid rgb(255, 255, 255);
  border-bottom:4px solid rgb(255, 255, 255);
}

p {
  margin: 10px;
  padding-bottom: 0px; 
  color: rgb(255, 255, 255); 
}

.navbar {
  padding: 1.5rem 2rem !important;
}

.navbar-brand {
  font-weight: bold;
  font-size: 34px !important;
  background-color: transparent !important;
  border: transparent !important;
  outline: none !important;
}

.search {
  width: 75%;
  position: relative;
  display: flex;
}

.favourite {
  background: #fff;
  border: 0px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.favourite:focus {
  outline: none;
}

#title p { 
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 22px;
}

.genre { 
  display:inline;
  margin-right: 0px;
}

.genrenames { 
  display:inline;
  background-color: rgb(73, 72, 72);
}

.FavouriteButton {
	background-color:#ffdd00 !important;
	border-radius:6px;
	border:1px solid #ffdd00 !important;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px !important;
	font-weight:bold !important;
	padding:4px 20px;
	text-decoration:none;
}

.FavouriteButton:hover {
	background:linear-gradient(to bottom, #ffdd00 5%, #ffdd00 100%);
	background-color:#ffdd00;
}

.FavouriteButton:active {
	position:relative;
	top:1px;
}

.TrailerButton {
	background-color:#000000 !important;
	border-radius:6px;
	border:1px solid #ffffff !important;
	display:inline-block;
	cursor:pointer;
	color:#ffffff !important;
	font-family:Arial;
	font-size:15px !important;
	font-weight:bold !important;
	padding:4px 20px;
	text-decoration:none;
  text-shadow:0px 1px 0px #000000;
}

.TrailerButton:hover {
	background:linear-gradient(to bottom, #000000 5%, #000000 100%);
	background-color:#ffffff;
}

.TrailerButton:active {
	position:relative;
	top:1px;
}

.WatchListButton {
	background-color:#ffffff !important;
	border-radius:6px;
	border:1px solid #dcdcdc !important;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px !important;
	font-weight:bold !important;
	padding:6px 20px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}

.WatchListButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}

.WatchListButton:active {
	position:relative;
	top:1px;
}

.WatchListViewButton {
	background-color:transparent;
	display:inline-block;
	cursor:pointer;
	color:#ffffff !important;
	font-family:Arial;
	font-size:20px !important;
	font-weight:bold;
	padding:6px 24px !important;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}

.WatchListViewButton:hover {
	background-color:transparent;
}

.WatchListViewButton:active {
	position:relative;
	top:1px;
}    

.WatchListViewButton:focus {
	outline: none !important;
}        